            /*==========BODY============*/

body {
    background-color: #222;
    color: white;
}
            /*==========NAV============*/

nav {
    background-color: #1d1717f7;
}

nav .brand-logo i, .hoomee {
    font-size: 40px;
}

.sidenav-overlay {
    opacity: 0 !important;
    position: relative;
}

.nav-icon-pad {
    padding-left: 220px;

}
            /*==========INPUT/TEXTAREA============*/

input {
    color:white;
}

textarea.materialize-textarea {
    color:white;
}

.input-field.col .prefix ~ label {
    color: #e85a13;
    z-index: -3;
}

            /*==========VIDEO============*/

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}       

.video-container {
    z-index: 1;
}

            /*==========LOGO============*/

.brand-logo {
    font-size: 40px;
}

             /*==========COLLAPSIBLE============*/

.collapsible-header {
background-color: transparent;
}

            /*==========ICONS============*/

.icon-size {
    font-size: 80px;
    margin-top:15px;
}

.icon-color {
    color: #e6d712;
}

.icon-color2 {
    color: #24eabe;
}

.icon-exercises {
    font-size: 80px;
    margin-top:15px;
    color: #f91d1d;
}

.center-icon-read-more {
    margin-left:29%;
}

            /*==========TITLE============*/
            
.colored-title {
    color: #ffffff;
}

.expert_title {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

            /*==========BUTTON============*/

.btn-colored {
    background-color: #006a84e0;
}

.btn-colored:hover {
    background-color: #187f98e0;
}

            /*==========DROPDOWN============*/

.select-dropdown {
    color: white;
}

.select-wrapper .caret {
    fill:white
}

.select-dropdown li.disabled>span {
    color: white;
}

.select-dropdown:focus {
    color:white;
}

.dropdown-content {
    background-color: #313131;
}

.dropdown-content li>span {
    color:white;
}

            /*==========CONTAINER============*/

.container {
    color:white;
}

            /*==========DIFFICULTY-COLORS============*/

.beginner-color {
    color:green;
}


.intermediate-color {
    color: orange;
}

.advanced-color {
    color: red;
}

            /*==========FOOTER============*/

.page-footer {
    background-color: #1d1717f7;
    padding-top: 0px;
}

            /*==========TEXT============*/

.flow-text {
          font-size: 1rem; 
}

.padding-paragraph {
    padding-top: 24px;
}








            /*==========MEDIA-QUERIES============*/



@media all and (min-width: 480px) and (max-width: 767px) { 
    nav {
        background-color: #d0501ef7;
    }
            .flow-text {
        font-size: 2.1rem;
    }
}
            
@media all and (min-width: 768px) and (max-width: 1024px) { 
    
nav {
    background-color: #d01e1ef7;
}

.flow-text {
    font-size: 2.1rem;
}

.page-footer {
    background-color: #d01e1ef7;
    padding-top: 0px;
}

.center-icon-read-more {
    margin-left: 40%;
}

.materialboxed {
    left: 24%;
}

.desktop-width {
    width: 18% !important;
}


}

@media all and (min-width: 1024px) { 
    
nav .brand-logo {
    left: 43%;
}

nav {
    background-color: #317a90f7;
}

.page-footer {
    background-color: #317a90f7;
    padding-top: 0px;
}

.nav-icon-pad {
    padding-left: 190px;
}

.flow-text {
    font-size: 1.5rem;
}
    
.padding-paragraph {
    padding-top: 0;
}

.video-container {
    bottom: 65px;
    z-index: -4;
}

.icon-size {
    font-size: 100px;
    margin-top:30px;
}
.icon-exercises {
    font-size: 100px;
    margin-top:30px;
}

.expert_title {
    font-size: 4.2rem;

}
    
.desktop-width {
    width: 18% !important;
}
}