{% extends 'base.html' %}
{% block content %}
            
            
            <h1 class="center-align">Add Exercise</h1>
       <div class="container">
           
           <form action="#" method="POST" class="col s12">
                <div class="row">
            <div class="row">

            
             <div class="input-field col s4">
                <i class="material-icons prefix">fitness_center</i>
                <input id="equipment_required" name="equipment_required" type="text" class="validate" value="">
                <label for="icon_prefix">Equipment Required</label>
            </div>
                
            </div>
            
            
            <div class="input-field col s4">
                <i class="material-icons prefix">rowing</i>
                <input id="exercise" name="exercise" type="text" class="validate" value="">
                <label for="icon_prefix">Exercise</label>
            </div>
            
                        <div class="input-field col s4">
                <i class="material-icons prefix">hdr_weak</i>
                <input id="sets_amount" name="sets_amount" type="text" class="validate" value="">
                <label for="icon_prefix">Sets</label>
            </div>
            
                                    <div class="input-field col s4">
                <i class="material-icons prefix">hdr_strong</i>
                <input id="reps_amount" name="reps_amount" type="text" class="validate" value="">
                <label for="icon_prefix">Repetitions</label>
            </div>
            

            
        </div>
                                <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Exercise
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>    
         </form>
       </div>     
        

        
       

{% endblock %}
