{% extends 'base.html' %}
{% block content %}
            
            
            <h1 class="center-align">Edit Program</h1>
       <div class="container">
           
           <form action="{{url_for('update_program', program_id=program._id)}}" method="POST" class="col s12">
                <div class="row">
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">accessibility</i>
                    <select id="category" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      {% if cat.category_name == program.category_name %}
                      <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                      {% else %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                   {% endif %}
                  {% endfor %}
                </select>
                    <label>Program Category</label>
                </div>
            
                <div class="input-field col s4">
                    <i class="material-icons prefix">directions_run</i>
                    <select id="difficulty" name="difficulty_level">
                  <option value="" disabled selected>Choose Difficulty</option>
                  {% for dif in difficulties %}
                      {% if dif.difficulty_level == program.difficulty_level %}
                      <option value="{{dif.difficulty_level}}" selected>{{dif.difficulty_level}}</option>
                      {% else %}
                      <option value="{{dif.difficulty_level}}">{{dif.difficulty_level}}</option>
                   {% endif %}
                  {% endfor %}
                </select>
                    <label>Difficulty</label>
                </div>
             <div class="input-field col s4">
                <i class="material-icons prefix">fitness_center</i>
                <input id="equipment_required" name="equipment_required" type="text" class="validate" value="{{program.equipment_required}}">
                <label for="icon_prefix">Equipment Required</label>
            </div>
                
            </div>
            
            
            <div class="input-field col s8 offset-s2">
                <h5 class="center-align">Title</h5>
                <input id="program_name" name="program_name" type="text" class="center-align validate" value="{{program.program_name}}">
                
            </div>
            
            <div class="input-field col s4">
                <i class="material-icons prefix">rowing</i>
                <input id="exercise" name="exercise" type="text" class="validate" value="{{program.exercise}}">
                <label for="icon_prefix">Exercise</label>
            </div>
            
                        <div class="input-field col s4">
                <i class="material-icons prefix">rowing</i>
                <input id="exercise2" name="exercise2" type="text" class="validate" value="{{program.exercise2}}">
                <label for="icon_prefix">Exercise2</label>
            </div>
            
                        <div class="input-field col s4">
                <i class="material-icons prefix">rowing</i>
                <input id="exercise3" name="exercise3" type="text" class="validate" value="{{program.exercise3}}">
                <label for="icon_prefix">Exercise3</label>
            </div>
            
                        <div class="input-field col s4">
                <i class="material-icons prefix">hdr_weak</i>
                <input id="sets_amount" name="sets_amount" type="text" class="validate" value="{{program.sets_amount}}">
                <label for="icon_prefix">Sets</label>
            </div>
            
                                    <div class="input-field col s4">
                <i class="material-icons prefix">hdr_weak</i>
                <input id="sets_amount2" name="sets_amount2" type="text" class="validate" value="{{program.sets_amount2}}">
                <label for="icon_prefix">Sets2</label>
            </div>
            
                                    <div class="input-field col s4">
                <i class="material-icons prefix">hdr_weak</i>
                <input id="sets_amount3" name="sets_amount3" type="text" class="validate" value="{{program.sets_amount3}}">
                <label for="icon_prefix">Sets3</label>
            </div>
            
                                    <div class="input-field col s4">
                <i class="material-icons prefix">hdr_strong</i>
                <input id="reps_amount" name="reps_amount" type="text" class="validate" value="{{program.reps_amount}}">
                <label for="icon_prefix">Repetitions</label>
            </div>
            
                                                <div class="input-field col s4">
                <i class="material-icons prefix">hdr_strong</i>
                <input id="reps_amount2" name="reps_amount2" type="text" class="validate" value="{{program.reps_amount2}}">
                <label for="icon_prefix">Repetitions2</label>
            </div>
            
                                                <div class="input-field col s4">
                <i class="material-icons prefix">hdr_strong</i>
                <input id="reps_amount3" name="reps_amount3" type="text" class="validate" value="{{program.reps_amount3}}">
                <label for="icon_prefix">Repetitions3</label>
            </div>
            
            <div class="container">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">short_text</i>
                <textarea name="description" id="description" class="center-align materialize-textarea">{{program.description}}</textarea>
                <label for="icon_prefix">Instructions</label>
            </div>                
            </div>

            
        </div>
                                <div class="row center-align">
            <button class="btn waves-effect waves-light btn-colored" type="submit" name="action">Edit Program
                <i class="material-icons right">edit</i>
             </button>
        </div>    
         </form>
       </div>     
        

        
       

{% endblock %}
