{% extends 'base.html' %}
{% block content %}

            <h1>HOME</h1>
            {% for program in training_programs %}
                {{program.program_name}}
                {{program.program_category}}
                {{program.difficulty_level}}
                {{program.strength_required}}
                {{program.sets_amount}}
                {{program.reps_amount}}
                {{program.equipment_required}}
            {% endfor %}
                  <div class="row">
          <iframe width="100%" height="820" src="https://www.youtube.com/embed/FHBtLAvNGo4?start=13&end=103&controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=FHBtLAvNGo4&mute=1"</iframe>
      </div>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
{% endblock %}