{% extends 'base.html' %}
{% block content %}

     <div class="video-container">
        <iframe src="///www.youtube.com/embed/FHBtLAvNGo4?start=14&end=103&controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=FHBtLAvNGo4&mute=1" frameborder="0" allowfullscreen></iframe>
      </div>


                <div class="container">
                    <div class="col s12 center">
                        <h1 class="center">What is Calisthenics?</h1>
                        
                        <p class="flow-text">
                            Calisthenics is a form of exercise consisting of a variety of movements which exercise large muscle groups
                            (gross motor movements), such as running, standing, grasping, pushing, etc. These exercises are often performed rhythmically
                            and with minimal equipment, as bodyweight exercises.<span class ="hide-on-small-only"> They are intended to increase strength, fitness and flexibility, through
                            movements such as pulling, pushing, bending, jumping, or swinging, using one's bodyweight for resistance. Calisthenics can provide
                            the benefits of muscular and aerobic conditioning, in addition to improving psychomotor skills such as balance, agility and coordination.

                            Urban calisthenics are a form of street workout; calisthenics groups perform exercise routines in urban areas.
                            Individuals and groups train to perform advanced calisthenics skills such as muscle-ups, levers, and various freestyle moves such as spins and flips.</span>
                            
                        </p>
                        
                        <ul class="hide-on-large-only collapsible">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">info_outline</i>Read More</div>
                                <div class="collapsible-body"><span>They are intended to increase strength, fitness and flexibility, through
                            movements such as pulling, pushing, bending, jumping, or swinging, using one's bodyweight for resistance. Calisthenics can provide
                            the benefits of muscular and aerobic conditioning, in addition to improving psychomotor skills such as balance, agility and coordination.

                            Urban calisthenics are a form of street workout; calisthenics groups perform exercise routines in urban areas.
                            Individuals and groups train to perform advanced calisthenics skills such as muscle-ups, levers, and various freestyle moves such as spins and flips.</span></div>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="">
                                    <i class="rrow material-icons">arrow_downward</i>    
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
               <div class="row contoo">
                    <h2 class="center-align">Training Programs</h2>
                    <h1>TEST</h1>
                    
                    
                    
              <ul class="collapsible">
                <li>
                    <div class="collapsible-header cootest"><i class="material-icons">filter_drama</i>First</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header cootest"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header cootest"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>      
            </div>
        

            
            
{% endblock %}