{% extends 'base.html' %} {% block content %}

<div class="video-container autoplay muted">
    <iframe src="///www.youtube.com/embed/FHBtLAvNGo4?start=14&end=103&controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=FHBtLAvNGo4&mute=1" frameborder="0" allowfullscreen></iframe>
</div>


<div class="container">
    <div class="col s12 center">
        <h1 class="center expert_title">What is Calisthenics?</h1>

        <p class="flow-text">
            Calisthenics is a form of exercise consisting of a variety of movements which exercise large muscle groups (gross motor movements), such as running, standing, grasping, pushing, etc. These exercises are often performed rhythmically and with minimal equipment,
            as bodyweight exercises.<span class="hide-on-med-and-down"> They are intended to increase strength, fitness and flexibility, through
                                    movements such as pulling, pushing, bending, jumping, or swinging, using one's bodyweight for resistance. Calisthenics can provide
                                    the benefits of muscular and aerobic conditioning, in addition to improving psychomotor skills such as balance, agility and coordination.
        
                                    Urban calisthenics are a form of street workout; calisthenics groups perform exercise routines in urban areas.
                                    Individuals and groups train to perform advanced calisthenics skills such as muscle-ups, levers, and various freestyle moves such as spins and flips.</span>

        </p>

        <ul class="hide-on-large-only collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">info_outline</i>Read More</div>
                <div class="collapsible-body flow-text"><span>They are intended to increase strength, fitness and flexibility, through
                                    movements such as pulling, pushing, bending, jumping, or swinging, using one's bodyweight for resistance. Calisthenics can provide
                                    the benefits of muscular and aerobic conditioning, in addition to improving psychomotor skills such as balance, agility and coordination.
        
                                    Urban calisthenics are a form of street workout; calisthenics groups perform exercise routines in urban areas.
                                    Individuals and groups train to perform advanced calisthenics skills such as muscle-ups, levers, and various freestyle moves such as spins and flips.</span></div>
            </li>
        </ul>
    </div>
    <div class="center-align row">

        <div class="col s4">
            <div class="section">
            <a href="{{url_for('get_programs')}}"><i class="material-icons icon-size icon-color">layers</i></a>
            <h4><strong>View Programs</strong></h4></div>
            <p class="flow-text">Would you like to know more about our programs? Click to view!</p>
        </div>
        <div class="col s4">
            <div class="section">
            <a href="{{url_for('add_program')}}"> <i class="material-icons icon-size icon-color2">add</i></a>
            <h4><strong>Add Program</strong></h4></div>
            <p class="flow-text">Are you interested in submitting your own program? Click here!</p>
        </div>
        <div class="col s4">
            <div class="section">
            <a href="{{url_for('exercises')}}"> <i class="material-icons icon-size icon-exercises">fitness_center</i></a>
            <h4><strong>Exercises</strong></h4></div>
            <p class="flow-text">In need of ideas before adding your first program? Check out our exercises!</p>
        </div>

    </div>
</div>

{% endblock %}