{% extends 'base.html'%} {% block content %}
<div class="container">
    <ul class="collapsible" data-collapsible="accordion">
        <div class="row center-align">
            <i class="material-icons icon-size icon-color">layers</i>
        </div>
        <h1 class="center-align expert_title">Training Programs</h1>
        {% for program in training_programs %}
        <li>
            <div class="container collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                </div>
                
                        <!---------TITLE AND DIFFICULTY DISPLAY------->
                
                <div class="program_header col s9">
                    {% if program.difficulty_level == "Beginner" %}
                    <h5 class="colored-title">{{program.program_name}}</h5> - <strong class="beginner-color">{{program.difficulty_level}}</strong>
                    {% elif program.difficulty_level == "Intermediate" %}
                    <h5 class="colored-title">{{program.program_name}}</h5> - <strong class="intermediate-color">{{program.difficulty_level}}</strong>
                    {% elif program.difficulty_level == "Advanced" %}
                    <h5 class="colored-title">{{program.program_name}}</h5> - <strong class="advanced-color">{{program.difficulty_level}}</strong>
                    {% elif not program.difficulty_level and program.program_name %}
                    <h5>Difficulty and Title not selected.</h5>
                    {% endif %}
                </div>
            </div>
            
                        <!---------COLLAPSIBLE WITH PROGRAM CONTENT------->
            
                <div class="container collapsible-body">
                    {% if not program.example_youtube %}
                    <h6><strong>Example on youtube not available, edit program to add.</strong></h6>
                    {% else %}
                    <h6 class="colored-title"><strong>Example on: </strong><a href="{{program.example_youtube}}" target="_blank">Youtube</a></h6>
                    {% endif %}
                    <h5 class="colored-title">Category:</h5>
                    {% if program.difficulty_level == "Beginner" %}
                    <blockquote class="flow-text blockquote-beginner">
                        <strong>{{ program.category_name }}</strong>
                    </blockquote>
                    <h5 class="colored-title">Description:</h5>
                    <blockquote class="flow-text blockquote-beginner">
                        {{ program.description }}
                    </blockquote>
                    {% elif program.difficulty_level == "Intermediate" %}
                    <blockquote class="flow-text blockquote-intermediate">
                        <strong>{{ program.category_name }}</strong>
                    </blockquote>
                    <h5 class="colored-title">Description:</h5>
                    <blockquote class="flow-text blockquote-intermediate">
                        {{ program.description }}
                    </blockquote>
                    {% elif program.difficulty_level == "Advanced" %}
                   <blockquote class="flow-text blockquote-advanced">
                        <strong>{{ program.category_name }}</strong>
                    </blockquote>
                    <h5 class="colored-title">Description:</h5>
                    <blockquote class="flow-text blockquote-advanced">
                        {{ program.description }}
                    </blockquote>
                    {% else %}
                       <blockquote class="flow-text">
                        <strong>{{ program.category_name }}</strong>
                    </blockquote>
                    <h5 class="colored-title">Description:</h5>
                    <blockquote class="flow-text">
                        {{ program.description }}
                    </blockquote>
                    {% endif %}
                    <div class="row">
                        <table>
                        <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>Sets</th>
                                <th>Repetitions</th>
                                <th>Equipment</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><strong>{{ program.exercise }}</strong></td>
                                <td>{{ program.sets_amount }}</td>
                                <td>{{ program.reps_amount }}</td>
                                <td>{{ program.equipment_required }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ program.exercise2 }}</strong></td>
                                <td>{{ program.sets_amount2 }}</td>
                                <td>{{ program.reps_amount2 }}</td>
                            </tr>
                            <tr>
                                <td><strong>{{ program.exercise3 }}</strong></td>
                                <td>{{ program.sets_amount3 }}</td>
                                <td>{{ program.reps_amount3 }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                
                                <!---------BUTTONS TO EDIT/DELETE PROGRAM------->
                
                <div class="container row">
                    <div class="col s4 offset-s2 desktop-width">
                        <a href="{{url_for('edit_program', program_id=program._id)}}" class="btn-floating btn-small orange pulse">
                    <i class="material-icons">edit</i></a>

                        <strong>Edit Program</strong>
                    </div>
                    <div class="col s4 desktop-width">
                        <a href="{{url_for('delete_program', program_id=program._id)}}" class="btn-floating btn-small red pulse">
                    <i class="material-icons">delete</i></a>

                        <strong>Delete Program</strong>
                    </div>

                </div>


            </div>

        </li>
        {% endfor %}
        <div class="row center-align">
    <div class="col s12">
        <button onclick="window.history.back()" class="btn waves-effect waves-light btn-colored back-button">Go Back
                     <i class="material-icons left">arrow_back</i>
        </button>
    </div>

</div>
    </ul>
</div>


{% endblock %}