{% extends 'base.html'%} 
{% block content %}
<div class="row">
    <ul class="collapsible" data-collapsible="accordion">
        {% for program in training_programs %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="#" class="waves-effect waves-light btn btn_small">Done</a>
                    <a href="#" class="waves-effect waves-light btn btn_small blue"><i class="material-icons right">edit</i>Edit</a>
                    
                </div>
                <div class="program_header col s9">
                    <strong>{{program.program_name}}</strong> - {{program.difficulty_level}}
                    
                </div>
            </div>
            <div class="collapsible-body">
                <h5>Description:</h5>
                <blockquote>
                {{ program.description }}
            </blockquote>
            <div class="row">
                <table>
        <thead>
          <tr>
              <th>Exercise</th>
              <th>Sets</th>
              <th>Repetitions</th>
              <th>Equipment</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><strong>{{ program.exercise }}</strong></td>
            <td>{{ program.sets_amount }}</td>
            <td>{{ program.reps_amount }}</td>
            <td>{{ program.equipment_required }}</td>
          </tr>
        </tbody>
      </table>
            
            </div>
            <div class="row">
                
                <a href="{{url_for('edit_program', program_id=program._id)}}" class="btn-floating btn-small red pulse">
                    <i class="material-icons">edit</i></a>
                <strong>Edit Program</strong>
                 <a href="{{url_for('add_exercise', program_id=program._id)}}" class="btn-floating btn-small pink pulse">
                    <i class="material-icons">edit</i></a>
                <strong>New Exercise</strong>
                <a href="{{url_for('delete_program', program_id=program._id)}}" class="btn-floating btn-small black pulse">
                    <i class="material-icons">edit</i></a>
                <strong>Delete Program</strong>
            </div>
            
            
            </div>
        </li>
        {% endfor %}

    </ul>
</div>
{% endblock %}